body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1 ,h2 {
 text-align: center;
 text-decoration: underline;
}
h3{
    color: black;
}
p{
    color: red;
    text-align: center;
    line-height: 30px;
}
a{
    color: green;
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
